.dropdown-input {
  height: 40px;
  width: 350px;
  font-size: 20px;
  padding-left: 15px;
}

.dropdown-container {
  height: 40px;
  width: 200px;
  background-color: aliceblue;
}

.dropdown-container-show {
  height: 40px;
}

.filter-list {
  display: none;
}

.filter-list-clicked {
  position: absolute;
}

.filter-list-item {
  background-color: white;
  height: 40px;
  width: 300px;
  text-align: center;
  color: black;
}

.filter-list-item img {
  float: left;
  margin-right: 5px;
}

.item-name {
  font-size: 16px;
  text-align: left;
  display: block;
  vertical-align: bottom;
}

.item-type {
  margin-top: -5px;
  vertical-align: top;
  text-align: left;
  display: block;
  font-size: 13px;
}

.tag-both {
  background-color: blue !important;
}

.tag-victim {
  background-color: red !important;
}

.tag-attacker {
  background-color: green !important;
}

.tag {
  margin-right: 5px;
  margin-top: 5px;
  float: left;
  font-size: 24px !important;
}

.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}

.tag a:hover {
  opacity: 1.0 !important
}
.tag .remove {
  vertical-align: middle;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  margin-bottom: 2px;
}
