body {
  background-image: url(./img/background2.jpg)
}

.app-container {
}

.container {
  color: #333;
  width: 90%;
  background: #F8F8F8;
  opacity: .9;
  height: 100vh;
  font: normal 14px 'Lato';
  opacity: .9;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);

}

.filter-image {
  margin-right: 15px;
}

#filter-container {
  margin-top: 10px;
  float: right;
  width: 350px;
}

#filter-add-input {
  float: right;
  width: 200px;
}

#filter-add-button {
  display: inline-block;
}


#list-container {
  display: block;
  float: left;
  width: 800px;
}

.input-group-addon {
  width: 100px;
  height: 40px;
}

.btn {
  height: 41px;
  width: 100px;
}
